@{
    Layout = null;
}
<div ng-controller="RecordPayController">
    <form name="frm">
        <div class="row">
            <div >
                
            </div>
        </div>
    </form>
    <pre>{{model | json}}</pre>
</div>