@model core.Models.LisitngModels.ViewModel
@{
    ViewData["Title"] = "Listing";
    ViewData["LoggedIn"] = true;
}

<h1>Employee Listing</h1>

<div ng-controller="ListingController" ng-init="init()">
	
	<a href="javascript:;;" class="btn btn-primary" ng-click="addNew()">Add New Employee</a>
    <div class="hidden">    
		<div class="search form-group" data-bootgrid-append="header">
            <input type="text" class="form-control" placeholder="Pay Date From" data-date-picker="" data-listing-filter="payPostingFrom" ng-model="model.payPostingFrom">
        </div>
		<div class="search form-group" data-bootgrid-append="header">
            <input type="text" class="form-control" placeholder="Pay Date End" data-date-picker="" data-listing-filter="payPostingTo" ng-model="model.payPostingTo">
        </div>
		<div class="search form-group" data-bootgrid-append="header">
            <select class="form-control" data-listing-filter="empId" ng-model="model.empId">
                <option value="">Show All Employees</option>
                @foreach(var empl in Model.EmplList)
				{
                    <option value="@empl.Value">@empl.Text</option>
				}
            </select>
        </div>
		<div class="search form-group" data-bootgrid-append="header">
            <select class="form-control" data-listing-filter="state" ng-model="model.state">
                <option value="">Show All States</option>
                @foreach(var state in Model.StatesList)
                {
                    <option value="@state.Value">@state.Text</option>
                }
            </select>
        </div>
    </div>
	<table id="employee-listing" class="table table-condensed table-hover table-striped">
	    <thead>
	    <tr>
	        <th data-column-id="fullName" data-formatter="link">Employee</th>
	        <th data-column-id="state">State</th>
	        <th data-column-id="lastPaymentDate">Last Payment Date</th>
	        <th data-column-id="lastPaymentAmount">Last Payment Amount</th>
	        <th data-column-id="ytdPay">YTD Pay</th>
	    </tr>
	    </thead>
	</table>
</div>
