@{
    ViewData["Title"] = "Listing - Simple Payroll";
    ViewData["LoggedIn"] = true;
}


<h1>Employee Listing</h1>
<input type="text" id="date-picker"/>
<button type="button" onclick="bootboxtest()">test</button>
<table id="grid-basic" class="table table-condensed table-hover table-striped" data-toggle="bootgrid" data-ajax="true" data-url="/listing/getListFiltered">
    <thead>
    <tr>
        <th data-column-id="FullName" data-type="numeric" data-identifier="true" data-formatter="link">Employee</th>
        <th data-column-id="State">State</th>
        <th data-column-id="LastPaymentDate">Last Payment Date</th>
        <th data-column-id="LastPaymentAmount">Last Payment Amount</th>
        <th data-column-id="YtdPay">YTD Pay</th>
    </tr>
    </thead>
</table>